



*{margin: 0;padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
  margin: 0 auto;
  padding: 0;
  min-width: 960px;
  font-family: 'Lato', sans-serif;
}
.fl{float:left;}
.fr{float: right;}
.fix{overflow: hidden;}
h1{ font-size: 48px;color: #ffffff;}
p{ font-size: 16px; color:#999999;}
h2{color: #363636;} 
ul li{list-style: none;display: inline-block;}
ul li a{text-decoration: none ; font-size: 15px; color: white; }


.container{
    width:99%;
    margin: 0 auto;
    padding: 0;
}


/* HEADER START HERE */

.section1{
  position: relative;
  z-index: 1;
 
}

.section1::before{
  content: ''; position: absolute; height: 100%; width: 100%;
  clip-path:  polygon(0 0, 100% 0%, 100% 71%, 0 90%); top:0; left:0;
  background-image: linear-gradient(#da0945, #ea3c2e); z-index: -1;
}

.navSection {
    padding:30px;
  }
  
  .logoIMg a img{
    width: 80px;
  }
  
  .mainMenu ul {
  text-align: right;
  }
  
  .mainMenu ul li {
  padding: 0 25px;
  }
  
  .mainMenu ul li a:hover{color: gray}



 .heroText {
   padding-left: 160px;
  }
  
  .heroMbl{
   
     margin-right: 300px;
     padding: 20px 0px;
    
  } 



.heroMbl img{ border-radius: 56px;box-shadow: black 0px 10px 20px; width: 250px;}

.heroText h1{padding-bottom: 50px; }

.heroText p {color:#ffffff ;padding-bottom: 107px;}

.heroText p a {color:#ffffff ; text-decoration: none;}

.heroText p a:hover {color:yellow;}

.heroText input[type="submit"]{
  padding: 10px 44px;  color: #e52d35;  font-weight: 600;  background-color: #ffffff;
  border: none;  border-radius: 30px;  font-size: 18px;  cursor: pointer; box-shadow: 0px 0px 9px black;
  margin-left: 10px;
}

.heroText input[type="submit"]:hover {
  background-color: gray;
}


.section1::after{
    clear: both;
    content: '';
    display: table;
}

  /* HEADER ENDS HERE */






/* EASY MASSEGE START HERE */

.easyMassagingBox {
  padding: 30px 20px 120px 20px;
}

.massageIMgBox {
   position: relative;  z-index: 1;  box-shadow: black 0px 10px 20px;
   margin-left: 200px;
  }

.massageIMgBox:hover{
  transform: translateX(20px);  transition: all 1s ease-out;  box-shadow: 0px 5px 15px  ;
}

.massageIMgBox img{
  width: 200px;
  
}

.massageIMgBox::after{
  content: "";  position: absolute;  height: 100%;  width: 100%;  top: 60px;  right: -110px;
  background-image: url('images/massageSS2.jpg'); background-size: cover;  background-repeat: no-repeat;
  z-index: 0; box-shadow: black 0px 10px 20px;
}

.massageIMgBox:hover:after{
  transform: translateY(-20px);  transition: all 1s ease-out;  box-shadow: 0px 5px 15px  ;
}

.easyMassageText {
 
 padding-top: 150px;
 margin-right: 200px;
}

.easyMassageText h2 {
  margin-bottom: 20px; font-size: 48px;
}

.easyMassageText p{
  line-height: 25px;
}

/* EASY MASSEGE ENDS HERE */








/* KEEP IN TOUCH START HERE */


.brdrBx{ border-bottom: 1px solid #e0e0e0;}

.keepInTouchBox{
   padding: 20px 20px 130px 20px; clear: both;
 
}

.keepInTouchText{
margin-top: 150px;
margin-left: 200px;
}

.keepInTouchText h2{
  margin-bottom: 20px; font-size: 48px;
}

.keepInTouchText p{
  line-height: 25px;
}

.keepInTouchImgBox {
  position: relative; z-index: 1; box-shadow: black 0px 10px 20px;
  margin-right: 160px;
}

.keepInTouchImgBox:hover{
  transform: translateY(-10px); transition: all 1s ease-out; box-shadow: 0px 5px 15px  ;
}

.keepInTouchImgBox img {
  width: 200px;
}

.keepInTouchImgBox::after{
  content: "";  position: absolute;  height: 100%;  width: 100%;  top: 60px;  right: 110px;
  background-image: url(images/massageSS2.jpg); background-size: cover;  background-repeat: no-repeat;
  z-index: 0; box-shadow: black 0px 10px 20px;
}

.keepInTouchImgBox:hover:after{
  transform: translateX(-20px);  transition: all 1s ease-out;  box-shadow: 0px 5px 15px  ;
} 


.secton3{
  clear: both;
  content: '';
}


/* KEEP IN TOUCH ENDS HERE */











/* WHAT PEOPLE SAY START HERE */

.peopleSayDiv {
  padding: 100px 0px;
}

.peopleSayDiv h2{
  text-align: center;  font-size: 48px;  margin-bottom: 100px;
}

.peopleSayBox {
  width:20%; margin-left:11%;
}

.peopleSayDiv h2{
  font-size: 48px;
}

.peopleSayText {
  padding: 10px 20px; position: relative; z-index: 1;
  
}

.peopleSayText:hover{
   transform: translateY(-50px);  transition: all 1s ease-out;  box-shadow: 0px 5px 15px  ;
}

.peopleSayText::after{
   content: ''; position: absolute; background-color: #ffffff; height: 20px; width: 20px; bottom: -11px;
    left: 15px; transform: rotate(45deg); border-right: 1px solid #667386; border-bottom: 1px solid #667386;
}

.peopleSayText:hover:after{
  box-shadow: .4px .4px 0px 
}

.oneThchild{ border-right: 1px solid #667386;
  border-bottom:1px solid #667386;}

.twoenChild{border-bottom:.5px solid #667386; 
  border-right: 1px solid #667386;}

.lstChld{ border-right: .5px solid #667386;border-bottom:1px solid #667386; }

.peopleSayText p {
   line-height: 25px;
   font-size: 14px;
}

.peopleSayText a {
  text-decoration: none; color: #e32638;
  font-size: 15px;
}

.peopleSayText a:hover {
  color:black;
}

.ComsumerDetails {
  margin-top: 30px; justify-content: flex-start;
}

.customerImg{
  border-radius: 50%;  overflow: hidden;
}

.customerImg img{
  width: 50px;
}

.customertext {
 margin-left: 20px; margin-top: 10px;
}

.customertext a {
  text-decoration: none;  color: #363636;
} 

.secton4{
  clear: both;
  content: '';
}

/* WHAT PEOPLE SAY ENDS HERE */












/* HEY YOU MOBILE START HERE */
.section5{
  
  margin:150px 0px 0px 0px;
 
}

.mobileViewMegaBox {
  background-image: linear-gradient(#da0945, #ea3c2e); position: relative; z-index: 1; height:538px;
}

.mobileViewMegaBox::after{
  content: '';  position: absolute;  background-image: url(images/mobileImg2.png);  background-repeat: no-repeat;
  background-size: cover; height: 700px;  width: 350px;  top: -84px;  left: 480px;  z-index: 2;
  border-radius: 55px; box-shadow: 0px 4px 10px;
}

.MobileviewMainBox {
 position: relative; z-index: 3;
 padding-top: 150px;
 
}

.MobileviewMainBox::before {
  content: '';  position: absolute;  height: 115%; width: 310px; top: 2px; left: 500px; z-index: 4;
  background-color: black; opacity: 0.5;
}

.MobileviewMainBox::after {
  content: '';  position: absolute;  z-index: 5;  height: 20%;  width: 5.5%;  top: 222px;
  left: 620px; background-image: url('images/play-button.png'); background-repeat: no-repeat;
  cursor: pointer;
}



.mbltextArea {
  width: 400px;
}

.mobileText {
  width: 500px;
}

.mobileText p{
  font-weight: bolder;
}

.mblTxt {
  width: 80%;
  line-height: 30px;
}


.tAlign{text-align: right;}

.mblTxt h4 {
  font-size: 20px; color: #ffffff;
}

.mblTxt h4 a{
  text-decoration: none;  color: #ffffff;
}

.mblTxt h4 a:hover{
  color: #363636;
}

.mblTxt p {
  font-size: 14px; font-weight: 100; letter-spacing: 2px; margin-bottom: 70px;
}

.mblImg {
  width: 20%;
}

.mobileText{
  padding-right: 100px;
}

.section5::after{
  clear: both;
  content: '';
}

/* HEY YOU MOBILE ENDS HERE */







/* SUBSCRIBE AREA START HERE */

.section6 {
  margin: 0px 0px;  border-bottom: 1px solid #e0e0e0;  background-color: #f8f5f6;  padding: 200px 0px;
}

.subscribeDiv {
 
  text-align: center;
}

.subscribeDiv h1{
  font-size: 48px; color: #363636; text-align: center;
}
 
.subscribeDiv P{
  margin-bottom: 70px;
}


.toGetFormTOgether{
  background-color: #f8f5f6; width: 50%; margin-left: 320px; border-radius: 26px;
}

.subscribeFOrm [type="text"] {
   width: 395px;  padding:15px 20px ;  border: none;  border-radius: 26px;  background-color: #f8f5f6;
   color: #888888;
}

.subscribeFOrm [type="submit"] {
  padding: 15px 44px; background-color: #e52d35; font-weight: 600; color: #ffffff;  border: none;
  border-radius: 30px;  font-size: 18px; cursor: pointer;
}

.subscribeFOrm [type="submit"]:hover{
  box-shadow: 0px 0px 9px red;
}


.section6::after{
  clear: both;
  content: '';
}
/* SUBSCRIBE AREA ENDS HERE */





/* DOWNLOAD START HERE */

.appDownloadsection {
  padding:100px 0px 150px 0px; border-bottom: 1px solid #e0e0e0;
}

.appdownloadDiv{
  padding: 20px;
}

.appdownloadDiv h1 a img{
  border-radius: 36px;  box-shadow: 1px 2px 9px black;
}

.appDownloadsection h1{
  color: #363636;  text-align: center;  margin-bottom: 50px;
}

.appDownloadsection p{
  margin-bottom: 50px;
}

.dLogo{
  margin-left: 600px;
}

.appDownloadsection p{
  text-align: center;
} 

/* DOWNLOAD ENDS HERE */









/* FOOTER START HERE*/


.footerMenu{
  padding: 40px 10px;
}

.mainMenu {
  margin-top: 20px;
}


.lastMnuItm {
  color: black;
  font-weight: 800;
}

.lastMnuItm:hover{
  color: gray;
}

.footerfloatupMEnu li a p{
  color: black;
  margin-top: 20px;
  font-weight: bolder;
}

.arrow {
    border: solid black;  border-width: 0 3px 3px 0;  display: inline-block;  padding: 3px;
  }
  .down {
    transform: rotate(45deg);
  }   


  /* FOOTER ENDS HERE */



